<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employees Data</title>
  </head>
  <body>
    <div>
      <table>
        <thead>
          <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Image</td>
            <td>Division</td>
          </tr>
          {{ range $value := . }}
          <tr>
            <td>{{ $value.ID }}</td>
            <td>{{ $value.Name }}</td>
            <td>{{ $value.Age }}</td>
            <td>{{ $value.Division }}</td>
          </tr>
          {{ end }}
        </thead>
      </table>
    </div>
  </body>
</html>
